+article("https://ru.wikipedia.org/wiki/%D0%90%D0%BD-225", "../images/mria.webp", "Ан-255, перевозящий космический корабль Буран")
  <strong>Ан-255</strong> — советский транспортный реактивный самолёт сверхбольшой грузоподъёмности разработки ОКБ им. О. К. Антонова в 1988 году. Является самым большим самолётом в мире


