+article("https://ru.wikipedia.org/wiki/%D0%90%D0%9D%D0%A1_(%D1%81%D0%B8%D0%BD%D1%82%D0%B5%D0%B7%D0%B0%D1%82%D0%BE%D1%80)")
  <strong>«АНС»</strong> — первый в мире музыкальный синтезатор изобретенный советским инженером Евгением Мурзиным в 1958 году


