+article("https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%90%D0%97-75501", "../images/belaz.webp", "БелАЗ-7550")
  <strong>БелАЗ-7550</strong> —  самый большой карьерный самосвал грузоподъемностью в 280 тонн


