+article("https://ru.wikipedia.org/wiki/%D0%91%D0%AD%D0%A1%D0%9C-6", "../images/besm.webp", "БЭСМ-6")
  <strong>БЭСМ-6</strong> — советская электронная вычислительная машина серии БЭСМ (Большая Электронно-Счётная Машина), первая советская суперЭВМ на элементной базе второго поколения — полупроводниковых транзисторах. Начав работать в 1967 году, была одной из самых высокопроизводительных ЭВМ в мире, выполнявшая около 1 млн операций в секунду
