+article("https://ru.wikipedia.org/wiki/%D0%91%D0%A2%D0%90_(%D1%82%D0%B5%D0%BB%D0%B5%D1%81%D0%BA%D0%BE%D0%BF)", "../images/bta.webp", "БТА")
  <strong>БТА</strong> — самый большой телескоп в мире до 1993 года. Построен в 1975 году. Оставался телескопом с крупнейшим в мире монолитным зеркалом вплоть до введения в строй в 1998 году телескопа VLT (диаметр 8,2 м). По сей день зеркало БТА крупнейшее в мире по массе, а купол БТА является крупнейшим астрономическим куполом в мире


