+article("https://ru.wikipedia.org/wiki/HEPA")
  <strong>ФТ</strong> — широко применяемый вид воздушных фильтров изобретенный советским инженером Петрояновым-Соколовым в 1945 году. В это же время был изобретен подобный фильтра в США, известный под названием HEPA


