+article("https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BE%D1%82%D0%B5%D1%80%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F")
  <strong>Геотермальная электростанция бинарного типа</strong> впервые в мире была продемонстрирована в 1967 году в СССР на Камчатке, вблизи посёлка Термальный. Использовала геотермальные ресурсы Паратунских источников. Мощность — 0,6 МВт


