+article("https://ru.wikipedia.org/wiki/%D0%90%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82_%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BA%D1%80%D0%BE%D0%B2%D0%BE%D0%BE%D0%B1%D1%80%D0%B0%D1%89%D0%B5%D0%BD%D0%B8%D1%8F")
  <strong></strong>Первый в мире <strong>аппарат искусственного кровообращения</strong> был сконструирован советскими учёными С. С. Брюхоненко и С. И. Чечулиным в 1926 году. Аппарат был применён в экспериментах на собаках, однако это устройство не использовалось в клинической практике при операциях на сердце человека. Первая успешная операция на открытом сердце человека с использованием аппарата искусственного кровообращения была проведена в США в 1952 году. В СССР первая успешная операция с искусственным кровообращением выполнена А. А. Вишневским в 1957 году


