+article("https://habr.com/ru/post/551330/", "../images/korvet.webp", "Проигрыватель Корвет ЭП-003")
  <strong>Корвет ЭП-003</strong> — проигрыватель грампластинок высшего класса, разработан в НИИ „Морфизприбор” в 1974г. А.М. Лихницким. Проигрыватель обладал уникальной, по мировым стандартам, конструкцией улучшающей качество звучания виниловых пластинок. В 1978 году началось серийное производство на Кировском заводе "Ладога", под Ленинградом. Проигрыватель отправлялся, в том числе, на экспорт где ценился за за свои характеристики


