+article("https://ru.wikipedia.org/wiki/%D0%9A%D0%A0%D0%A2-10", "../images/krt-10.webp", "Радиотелескоп «КРТ-10» на станции «Салют-6»")
  <strong>КРТ-10</strong> — первый в мире космический радиотелескоп. Установлен на орбитальной станции «Салют-6» в 1979 году


