+article("https://ru.wikipedia.org/wiki/%D0%9A%D0%92%D0%9D-49", "../images/kvn.webp", "Телевизор «КВН-49»")
  <strong>КВН-49</strong> — Первый массовый телевизор в СССР и один из первых в мире, рассчитанных на стандарт разложения 625/50. Начал выпускаться в 1949 году. Перед этим, 4 ноября 1948 года, Московский телецентр на Шаболовке приступил к регулярному телевизионному вещанию по новому стандарту разложения изображения на 625 строк, который впоследствии стал общеевропейским


