+article("https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D0%BF%D1%80%D0%B8%D1%8F%D0%BD%D0%BE%D0%B2%D0%B8%D1%87,_%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4_%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87", "../images/lk-1.webp", "ЛК-1")
  <strong>ЛК-1</strong> — первый в мире опытный образец носимого автоматического дуплексного переносного радиотелефона — предшественника современной сотовой связи. Создан в 1957 году в СССР инженером и изобретателем Л.И. Куприяновичем. В 1965 году на выставке «Инфорга-65» болгарской фирмой «Радиоэлектроника» был представлен мобильный телефон с базовой станцией на 15 абонентов. Данный телефон использовал систему, разработанную Куприяновичем. В следующем году Болгария представила на выставке «Интероргтехника-66» комплект мобильной связи из мобильных телефонов РАТ-0,5 и АТРТ-0,5 с базовой станцией РАТЦ-10. Данная система выпускалась в Болгарии для ведомственной связи на промышленных и строительных объектах и была в эксплуатации до 90-х гг.


