+article("https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%BD%D0%BE%D1%85%D0%BE%D0%B4-2")
  <strong>«Луноход-2»</strong> — второй из серии советских лунных дистанционно-управляемых самоходных аппаратов-планетоходов. За четыре месяца работы прошёл 42 километра (это расстояние оставалось рекордным до 2015 года, когда его превзошёл марсоход «Оппортьюнити»), передал на Землю 86 панорам и около 80 000 кадров телесъёмки


