+article("https://ru.wikipedia.org/wiki/%D0%9B%D1%83%D0%BD%D0%BE%D1%85%D0%BE%D0%B4-1", "../images/lunohod-1.webp", "Луноход-1")
  <strong>«Луноход-1»</strong> — первый в мире планетоход, успешно работавший на поверхности другого небесного тела — Луны с 17 ноября 1970 по 14 сентября 1971 года. Принадлежит к серии советских дистанционно-управляемых самоходных аппаратов «Луноход» для исследования Луны, проработал на Луне одиннадцать лунных дней (10,5 земных месяцев), проехал 10540 м


