+article("https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%B3%D0%BB%D0%B5%D0%B2#%D0%A1%D0%A1%D0%A1%D0%A0", "../images/maglev.webp", "Вагон на магнитной подушке ТП-05")
  <strong>ТП-01</strong> — один из первых в мире экспериментальных поездов на магнитной подушке. В СССР в 1979 году в городе Раменском был построен экспериментальный опытный участок для ходовых испытаний вагонов на магнитном подвесе. В период с конца 1970-х по 1980-е годы было создано пять опытных образцов вагонов, получивших обозначения серий от ТП-01 до ТП-05. Строительство первой магнитной железной дороги было начато в 1987 году в Армении и по плану должно было быть завершено в 1991 г. Эта дорога должна была соединить через Абовян города Ереван и Севан, однако Спитакское землетрясение 1988 года и распад СССР стали причиной замораживания проекта. Поезда должны были развивать скорость 250 км/ч, в итоге была построена лишь эстакада


