+article("https://ru.wikipedia.org/wiki/%D0%9C%D0%AD%D0%A1%D0%9C", "../images/mesm.png", "МЭСМ")
  <strong>МЭСМ</strong> — первая в СССР и континентальной Европе электронно-вычислительная машина. Разрабатывалась лабораторией С. А. Лебедева (на базе Института электротехники АН УССР) с конца 1948 года


