+article("https://ru.wikipedia.org/wiki/%D0%9C%D0%B8-12", "../images/mi-12.webp", "Ми-12")
  <strong>Ми-12</strong> — самый тяжёлый и грузоподъёмный вертолёт, когда-либо построенный в мире. Первый полет совершил в 1968 году. 6 августа 1969 года поднял груз в 44 205 кг на высоту 2255 м, установив мировой рекорд грузоподъёмности для вертолётов, который не побит до сих пор


