+article("https://habr.com/ru/company/luxoft/blog/155971/", "../images/micro.webp", "Радиоприемник «Микро» (слева), в сравнении с современным аудиоплеером")
  <strong>«Микро»</strong> — миниатюрный радиоприемник, выпускавшийся заводом «Ангстрем» с середины 1960-х годов. На момент выпуска был самым маленьким радиоприемником в мире, размером со спичечный коробок и весом 27 грамм. Дебютировал в США на международном съезде радиоинженеров в 1964 году. Было изготовлено несколько десятков тысяч единиц, половина из которых поставлялись на экспорт.


