+article("https://ru.wikipedia.org/wiki/%D0%9C%D0%98%D0%A0", "../images/mir-1.webp", "«МИР-1»")
  <strong>«МИР-1» (машина для инженерных расчётов)</strong> — одна из первых в мире однопользовательских ЭВМ разработанная в 1965 году Институтом кибернетики Академии наук УССР, под руководством академика В.М. Глушкова. Имела ряд уникальных особенностей, таких как аппаратно реализованный машинный язык, близкий по возможностям к языкам программирования высокого уровня, развитое математическое обеспечение. Фактически относится к классу вычислительных машин, которые впоследствии получили название рабочих станций


