+article("https://ru.wikipedia.org/wiki/%D0%93%D0%90%D0%97-%D0%9C-20_%C2%AB%D0%9F%D0%BE%D0%B1%D0%B5%D0%B4%D0%B0%C2%BB", "../images/pobeda.jpg", "ГАЗ-М-20 «Победа»")
  <strong>«Победа»</strong> — Первый в СССР легковой автомобиль с несущим кузовом и один из первых в мире крупносерийно выпускавшихся автомобилей с кузовом понтонного типа без выступающих крыльев, подножек и фар. 28 июня 1946 года начался серийный выпуск. Всего до 31 мая 1958 года было выпущено чуть более 240 тыс машин


