+article("https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%BA%D0%B5%D1%82%D0%B0_(%D1%87%D0%B0%D1%81%D1%8B)", "../images/record.webp", "Внешний вид часов «Рекорд» и механизма 2209")
  <strong>«Рекорд»</strong> — марка наручных часов выпускаемая Петродворцовым часовым заводом с 1961-го года. Имели оригинальную конструкцию и были толщиной всего 2,7 мм. Являются самыми плоскими часами из всех, созданных в СССР, и по сей день самыми тонкими механическими часами в мире с секундной стрелкой. В 1965 году часы «Рекорд» получили золотую медаль международной Лейпцигской ярмарки. Экспортировались более чем в 30 стран мира


