+article("https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D0%BA%D0%B5%D1%82%D0%B0_(%D1%82%D0%B5%D0%BF%D0%BB%D0%BE%D1%85%D0%BE%D0%B4)", "../images/raketa-1.webp", "Ракета-1")
  <strong>«Ракета-1»</strong> — первое в мире серийное пассажирское речное судно на подводных крыльях. Создано конструктором Р.Е. Алексеевым в 1957 году. С 1959 года по 1976 год было построено 389 «Ракет», в том числе более тридцати на экспорт. Максимальная скорость - 70 км/ч. Массовая эксплуатация «Ракет» в Москве и Московской области в качестве общественного транспорта велась с начала 1960-х до 2006 года. «Ракеты» эксплуатировались на необычных и интересных маршрутах между городами Тарту на реке Эмайыги и Псков на реке Великая, на озере Ильмень, как регулярный маршрут Новгород — Старая Русса и обратно, между городами Кёльном и Дюссельдорфом на реке Рейне, между городами Лондоном и Грейвзендом на реке Темзе.


