+article("https://ru.wikipedia.org/wiki/%D0%A0%D0%A2-70", "../images/telescope.webp", "Радиотелескоп П-2500 (РТ-70)")
  <strong>Радиотелескоп П-2500 (РТ-70)</strong> — был построен в 1978 году. Уникален тем, что кроме выполнения обычных радиоастрономических задач, связанных с пассивным наблюдением собственного излучения небесных тел, комплекс включает в себя мощные передатчики, которые позволяют проводить активные космические эксперименты, связанные с излучением в сторону исследуемых объектов мощных электромагнитных потоков с последующим анализом принятых сигналов — в мире всего два таких мощных радара — второй Голдстоунский в Калифорнии (США)


