+article("https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F_%D1%81%D0%B2%D0%B5%D1%80%D1%85%D0%B3%D0%BB%D1%83%D0%B1%D0%BE%D0%BA%D0%B0%D1%8F_%D1%81%D0%BA%D0%B2%D0%B0%D0%B6%D0%B8%D0%BD%D0%B0")
  <strong>Кольская сверхглубокая скважина (СГ-3)</strong> — параметрическая (то есть пробуренная для изучения глубинного строения) скважина; самая глубокая скважина в мире с глубиной 12 262 метра. Заложена в 1970 году


