+article("https://ru.wikipedia.org/wiki/%D0%A1%D0%BF%D1%83%D1%82%D0%BD%D0%B8%D0%BA-1", "../images/sputnik.png", "«Спутник-1»")
  <strong>«Спутник-1»</strong> — первый в мире искусственный спутник Земли, советский космический аппарат, запущенный на орбиту 4 октября 1957 года. Дата запуска «Спутника-1» является началом космической эры человечества.


