+article("https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%B5%D1%80%D0%B5%D0%BE-70", "../images/stereo70.webp", "Кинокамера «Стерео-70»")
  <strong>«Стерео-70»</strong> — кинематографическая система для съемки 3D-фильмов разработанная в 1965 году в СССР. На тот момент была, наиболее качественной и технологически передовой 3D-камерой в мире


