+article("https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BD%D1%86%D0%B5_(%D1%81%D0%BE%D0%BB%D0%BD%D0%B5%D1%87%D0%BD%D0%B0%D1%8F_%D0%BF%D0%B5%D1%87%D1%8C)", "../images/sun.webp", "Гелиокомплекс «Солнце»")
  <strong>«Солнце»</strong> — одна из крупнейших в мире солнечных печей, используется в научных целях для изучения материалов при высоких температурах. Печь не требует серьезных источников энергии или сжигания топлива, а использует энергию Солнца. Температура свыше 3000° C может быть получена в течении нескольких секунд. Начала работать в 1987 году, имеет мощность в один мегаватт


