+article("https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%BB%D0%BD%D0%B5%D1%87%D0%BD%D0%B0%D1%8F_%D0%B1%D0%B0%D1%82%D0%B0%D1%80%D0%B5%D1%8F#%D0%98%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F")
  <strong>Солнечная батарея</strong> и ее практическое применение одним из первых в мире было осуществлено в СССР в 1958 году на космическом аппарате «Спутник-3»


