+article("https://ru.wikipedia.org/wiki/%D0%A2%D0%BE%D0%BA%D0%B0%D0%BC%D0%B0%D0%BA", "../images/tokamak.webp", "Токамак Т-10 поздней серии в городе Курчатов. 1980г.")
  <strong>Токамак</strong> — установка для управляемого термоядерного синтеза. В 1954 году в СССР впервые в мире был проведен управляемый термоядерный синтез в тороидальной установке для магнитного удержания плазмы. Предложение об использовании управляемого термоядерного синтеза для промышленных целей и конкретная схема с использованием термоизоляции высокотемпературной плазмы электрическим полем были впервые сформулированы советским физиком О. А. Лаврентьевым в 1950 году. Токамак в настоящее время используется международным научным проектом ITER


