+article("https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%BC%D0%B8%D1%85%D0%BE%D0%B2,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%9F%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D0%B8%D1%87")
  <strong></strong>Основоположником мировой <strong>трансплантологии</strong> является советский ученый Владимир Петрович Демихов. В 1946 году Демиховым впервые в мире было успешно пересажено собаке второе сердце, а вскоре он смог полностью заменить сердечно-лёгочный комплекс, что стало мировой сенсацией, которую в СССР даже не заметили. Через два года он начал эксперименты по пересадке печени, а еще через несколько лет впервые в мире заменил сердце собаки на донорское. Это доказывало возможность проведения подобной операции на человеке. Кристиан Барнард, выполнивший первую в мире операцию по пересадке сердца от человека человеку в 1967 году, дважды приезжал в лабораторию Демихова в 1960 и 1963 годах. Кристиан Барнард всю свою жизнь считал Демихова своим учителем


