+article("https://ru.wikipedia.org/wiki/%D0%A2%D1%83-104", "../images/tu-104.jpg", "Ту-104")
  <strong>Ту-104</strong> — один из первых в мире серийных гражданских турбореактивных самолетов. Первый полет совершил в 1955 году. В период с 1956 года до октября 1958 года Ту-104 был единственным эксплуатирующимся реактивным авиалайнером в мире


