+article("https://ru.wikipedia.org/wiki/%D0%A2%D1%83-144", "../images/tu-144.png", "Ту-144")
  <strong>Ту-144</strong> — первый в истории сверхзвуковой пассажирский авиалайнер. Первый полёт Ту-144 состоялся 31 декабря 1968 года


