+article("https://ru.wikipedia.org/wiki/%D0%A2%D1%83-155")
  <strong>ТУ-155</strong> — экспериментальный самолет разработанный в 1988 году, впервые в мире использовавший в качестве топлива сжиженный водород или природный газ. Использование данных видов топлива существенно уменьшает выброс вредных газов в атмосферу, а так же является перспективным направлением в гиперзвуковой и космической авиации


