+article("https://ru.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D0%B1%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%91%D0%BE%D1%80%D0%B8%D1%81_%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B2%D0%B8%D1%87")
  <strong>Электронный телевизор</strong> — сконструировал Борис Павлович Грабовский — советский физик и изобретатель, один из пионеров телевидения, который первым изобрел полностью электронный телевизор со строчной и кадровой развертками. 26 июля 1928 года впервые в мире осуществил передачу по радио, без проводов, движущееся изображение с помощью полностью электронной системы телевидения


