+article("https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D0%BB%D0%BC%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D0%B5%D0%B2%D0%B8%D1%87")
  <strong>Теория вероятностей</strong> была разработана в СССР одним из крупнейших математиков ХХ века - А.Н. Колмогоровым. Прочитанный им на Международном математическом конгрессе в 1954 году в Амстердаме доклад «Общая теория динамических систем и классическая механика» стал событием мирового уровня


