+article("url", "../images/vver.jpg", "Балаковская АЭС с четырьмя реакторами ВВЭР-1000")
  <strong>ВВЭР</strong> — водо-водяной корпусной энергетический ядерный реактор с водой под давлением. Является одним из наиболее удачных ветвей развития ядерных энергетических установок, получивших широкое распространение в мире. Первый советский ВВЭР (ВВЭР-210) был введен в эксплуатацию в 1964 году на первом энергоблоке Нововоронежской АЭС 


