+article("url", "../images/zenit.jpg", "Фотоаппарат «Зенит»")
  <strong>«Зенит»</strong> — один из первых в мире однообъективных зеркальных фотоаппаратов с пентапризмой, производился с 1952 по 1956 год Красногорским механическим заводом. В 1964 году был выпущен фотоаппарат Зенит-5 — первый в мире серийный фотоаппарат общего назначения со встроенным электроприводом


