+article("https://ru.wikipedia.org/wiki/%D0%97%D0%B5%D0%BD%D0%B8%D1%82_(%D1%84%D0%BE%D1%82%D0%BE%D0%B0%D0%BF%D0%BF%D0%B0%D1%80%D0%B0%D1%82)", "../images/zenit.jpg", "Фотоаппарат «Зенит»")
  <strong>«Зенит»</strong> — один из первых в мире однообъективных зеркальных фотоаппаратов с пентапризмой, производился с 1952 по 1956 год Красногорским механическим заводом. В 1964 году был выпущен фотоаппарат Зенит-5 — первый в мире серийный фотоаппарат общего назначения со встроенным электроприводом


