mixin article(link, img, caption, small_img)
  .article
    p
      block
      if link
        |  (
        a(href=link target="_blank") источник
        | )
    if img
      figure
        div.img
          img(data-src=img)
        figcaption=caption
    hr
    button.more ⌄
