mixin article(link, img, caption, small_img)
  .article
    p
      block
      |  (
      a(href=link target="_blank") источник
      | )
    if img
      figure
        div.img(style=`background-image: url(${img});height:${small_img ? '280' : '450'}px`)
        figcaption=caption
    hr
    button.more ⌄
