- var title = "Инновации в СССР";
- var description = "Здесь представлен список инновационных достижений СССР в случайном порядке, как известных, так и не очень. От первого спутника и реактора до фотоаппарата и компьютера. В данный список включены только те изделия и достижения, которые подтверждаются авторитетными ссылками.";

doctype html
<html>

include components/head.pug

<body>
  <div class="tl_page_wrap">
    <div class="tl_page">
      <main class="tl_article">
        <header class="tl_article_header">
          <h1 dir="auto">#{title}&nbsp;
            img(src="images/orders/Order_of_Lenin.webp")
            img(src="images/orders/Order_of_Red_Banner.webp")
            img(src="images/orders/Order_of_Red_Banner_of_Labor.webp")
            img(src="images/orders/Order_of_the_October_Revolution.webp")
          </h1>
          <address dir="auto">
            <a rel="author">Октябрь 25, 1917</a>
            <time datetime="1991-12-26">Декабрь 26, 1991</time>
          </address>
        </header>
        <article id="_tl_editor" class="tl_article_content">
          <div class="tl_article_buttons">
            <a href="./" class="button disabled">Инновации в СССР</a>
            <a href="./myths.html" class="button">Мифы об СССР</a>
          </div>
          p=description
          <figure>
            img(src="images/center.webp")
            <figcaption>Вычислительный центр Госплана СССР</figcaption>
          </figure>

          hr
          br

          include components/article.pug

          include innovations/sun.pug
          include innovations/geoes.pug
          include innovations/vacuum-dugovoe.pug
          include innovations/sun_bat.pug
          include innovations/korvet.pug
          include innovations/micro.pug
          include innovations/heart.pug
          include innovations/post-index.pug
          include innovations/krt-10.pug
          include innovations/ft.pug
          include innovations/veter.pug
          include innovations/kvn.pug
          include innovations/rocket1.pug
          include innovations/semashko.pug
          include innovations/gas.pug
          include innovations/poliomielit.pug
          include innovations/tokamak.pug
          include innovations/zenit.pug
          include innovations/rekord.pug
          include innovations/pobeda.pug
          include innovations/mesm.pug
          include innovations/besm.pug
          include innovations/electronika.pug
          include innovations/svetodiod.pug
          include innovations/tv.pug
          include innovations/spiral.pug
          include innovations/ilizarov.pug
          include innovations/glaukoma.pug
          include innovations/mi.pug
          include innovations/kotelnikov.pug
          include innovations/lk1.pug
          include innovations/transplant.pug
          include innovations/aktau.pug
          include innovations/veroyatnost.pug
          include innovations/laser.pug
          include innovations/tu104.pug
          include innovations/kolaedr.pug
          include innovations/bta.pug
          include innovations/tu144.pug
          include innovations/an255.pug
          include innovations/belaz.pug
          include innovations/lunohod1.pug
          include innovations/lunohod2.pug
          include innovations/mir.pug
          include innovations/vver.pug
          include innovations/tu155.pug
          include innovations/ledokol.pug
          include innovations/stereo.pug
          include innovations/kitov.pug
          include innovations/ans.pug
          include innovations/rt70.pug
          include innovations/is.pug
          include innovations/mir1.pug
          include innovations/sputnik.pug
          include innovations/reaktor.pug
        </article>
      </main>
    </div>

    include components/footer.pug
  </div>

  script(async, src="https://www.googletagmanager.com/gtag/js?id=G-2B0JZYV657")
  script(src="js/footer.js")
</body>

</html>
