- var title = "Мифы об СССР";
- var description = "Антисоветская пропаганда создала большое колличество мифов о социализме, которые транслируются по всем каналам передачи информации: телевидение, художественное кино и интернет. Ниже представлен список наиболее одиозных мифов с опровержениями. Цель данных опровержений - не переубедить закоренелых ненавистников коммунистической теории, для которых важно лишь очернение социалистического прошлого, а предоставить альтернативный взгляд на историю тем, кто еще в поиске объективной истины.";

doctype html
<html>

  include components/head.pug

  +head()

  <body>
    <div class="tl_page_wrap">
      <div class="tl_page">
        <main class="tl_article">
          <header class="tl_article_header">
            <h1 dir="auto">#{title}</h1>
            <address dir="auto">
              <a rel="author">Октябрь 25, 1917</a>
              <time datetime="2020-01-01T00:00:00.000Z"></time>
            </address>
          </header>
          <article id="_tl_editor" class="tl_article_content">
            <div class="tl_article_buttons">
              <a href="/" class="button">Инновации в СССР</a>
              <a href="./myths/" class="button disabled">Мифы об СССР</a>
            </div>
            p=description
            <figure>
              img(src="../images/center.webp")
              <figcaption>Вычислительный центр Госплана СССР</figcaption>
            </figure>

            hr
            br

            include myths/not_effective.pug
            include myths/golden_mountants.pug
            include myths/no_difference.pug
            include myths/farmers_in_prison.pug
            include myths/no_reforms.pug
            include myths/red_monachy.pug
            include myths/religion.pug
            include myths/gulag.pug

          </article>
        </main>
      </div>

      include components/footer.pug
    </div>

    script(async, src="https://www.googletagmanager.com/gtag/js?id=G-2B0JZYV657")
    script(src="../js/footer.js")
  </body>

</html>
