.article.big
  h4#parasitism
    a(href="#parasitism") Почему в СССР была уголовная статья за тунеядство?

  p У всех был бесплатный доступ к общественным благам, таким как, образование, здравоохранение, жилье и т.д. Большинство товаров и услуг стоили дешево (общественный транспорт, авиаперелеты и т.д.). Это было связано с тем, что прибыль полученная государственными предприятиями направлялась в общественные фонды потребления. То есть каждый работник страны, своим трудом обеспечивал бесплатные квартиры, медицину и т.д. Возникла ситуация, когда, фактически, можно было вообще не работать и при этом продолжать пользоваться бесплатными общественными благами - ходить к врачу, жить в своей квартире и т.д. Зарабатывать на стороне небольшие деньги для покупки еды и всё. То есть, человек мог паразитировать на труде большинства.
  
  p Именно поэтому 4 мая 1961 года на основании ст. 12 Конституции Президиум Верховного Совета РСФСР принял указ «Об усилении борьбы с лицами, уклоняющимися от общественно-полезного труда и ведущими антиобщественный паразитический образ жизни». Он гласил:

  blockuote
    i Установить, что совершеннолетние, трудоспособные граждане, не желающие выполнять важнейшую конституционную обязанность — честно трудиться по своим способностям, уклоняющиеся от общественно полезного труда, извлекающие нетрудовые доходы от эксплуатации земельных участков, автомашин, жилой площади или совершающие иные антиобщественные поступки, позволяющие им вести паразитический образ жизни, подвергаются по постановлению районного (городского) народного суда выселению в специально отведенные местности на срок от двух до пяти лет с конфискацией имущества, нажитого нетрудовым путём, и обязательным привлечением к труду по месту поселения.
  br
  br
  a(href="https://ru.wikipedia.org/wiki/%D0%A2%D1%83%D0%BD%D0%B5%D1%8F%D0%B4%D1%81%D1%82%D0%B2%D0%BE#%D0%91%D0%BE%D1%80%D1%8C%D0%B1%D0%B0_%D1%81_%D1%82%D1%83%D0%BD%D0%B5%D1%8F%D0%B4%D1%81%D1%82%D0%B2%D0%BE%D0%BC_%D0%B2_%D0%A1%D0%A1%D0%A1%D0%A0" target="_blank") Источник

  hr
  button.more ⌄

