.article.big
  h4#queue
    a(href="#queue") Почему в СССР были очереди в магазинах?

  p Сам факт очередей не является обязательным условием социализма и плановой экономики. Например, в некоторые периоды истории СССР очереди были редким явлением (см. иллюстрацию в заголовке страницы). Появление очередей связано с двумя факторами:
  ul
    li Ухудшение качества планирования
    li Увеличение денежной массы у населения

  hr
  button.more ⌄

