h4#farmers_in_prison
  a(href="#farmers_in_prison") Миф: крестьяне в Российской Империи жили гораздо лучше и были свободнее, чем крестьяне в колхозах СССР

p Другая вариация этого мифа звучит, как «Коллективизация сельского хозяйства уничтожила эффективное крестьянство Российской Империи».

p Миф легко опровергается историческими фактами, классической художественной литературой описывающей жизнь крестьянства и статистикой уровня сельскохозяйственного производства.

p Из истории известно, что с конца XVII и, особенно, с начала XVIII столетия крепостные лишились всяких гражданских и человеческих прав и оказались в личном рабстве у своих помещиков. В первую очередь этому способствовало законодательство Российской империи, бескомпромиссно вставшее на защиту исключительно помещичьих интересов. По замечанию В. О. Ключевского:

blockuote 
  i Закон всё более обезличивал крепостного, стирая с него последние признаки правоспособного лица

br
br

p До 1848 года крестьянам было запрещено владеть любой личной собственностью.
  |  (
  a(href="https://ru.wikipedia.org/wiki/%D0%9A%D1%80%D0%B5%D0%BF%D0%BE%D1%81%D1%82%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%B0%D0%B2%D0%BE_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8" target="_blank") источник
  | )

p В СССР проводилась масштабная индустриализация и, как следствие, большое колчиество крестьян переезжали в города и становились рабочими (что уже опровергает миф об отсутствии свободы у крестьян). Это было бы невозможно без увеличения производительности труда в сельском хозяйстве, а именно за счет механизации и электрификации. Уже в 1921 г. Ленин подписал декрет «О сельскохозяйственном машиностроении». В 1923 г. на бывшем Путиловском заводе (завод им. Кирова) было начато производство колёсных тракторов. В 1930 – 1933 гг. вступили в строй Сталинградский, Харьковский и Челябинский тракторные заводы. На заводах «Ростсельмаш» и «Коммунар» началось производство зерноуборочных комбайнов и других машин. Материально-технической базой колхозного строя стали машинно-тракторные станции (первая МТС организована в 1928 г. на базе тракторного отряда совхоза им. Шевченко в Одесской обл.). В 1930 – 1931 гг. в опытном совхозе им. Фрунзе была создана первая ферма крупного рогатого скота с комплексной механизацией производственных процессов. Индустриализация и укрупнение сельскохозяйственного производства способствовало тому, что валовой продукт сельского хозяйства в СССР увеличился к 1940 г. на 41 % по сравнению с 1913 г., вернувшись к уровню кануна коллективизации при значительно меньшей доле работников, занятых в сельскохозяйственном производстве.

p В то же время, в селах создаются общеобразовательные школы (как для взрослых-безграмотных т.н. ликбез, так и для детей) и клубы для проведения кульутрно-массового досуга. Это сопровождается появлением центрального электроснабжения. Все это было недоступно крестьянству Российской Империи, даже с учетом существовавшей в поздних годах, системе самовыкупа крестьян.

