.article.big
  h4#golden_mountants
    a(href="#golden_mountants") Миф: Большевики победили в гражданской войне, только потому что Ленин наобещал крестьянам «золотые горы»

  p Открываем текст «Задачи союзов молодёжи» из выступления Ленина на III съезде комсомола 2 октября 1920 года:

  blockuote 
    i Когда Колчак и Деникин шли из Сибири и с юга, крестьяне были на их стороне. Большевизм им не нравился, так как большевики берут хлеб по твердой цене. А когда крестьяне испытали в Сибири и на Украине власть Колчака и Деникина, они узнали, что крестьянину выбора нет: либо иди к капиталисту, и он отдаст тебя в рабство помещику, либо иди за рабочим, который, правда, <strong>молочные реки в кисельных берегах не обещает</strong>, который требует от тебя железной дисциплины и твердости в тяжелой борьбе, но который выводит тебя из рабства у капиталистов и помещиков.

  hr
  button.more ⌄
