.article.big
  h4#gulag
    a(href="#gulag") Миф: Экономика СССР достигла второго места по ВВП в мире только благодаря рабскому, дешевому труду в ГУЛАГе.

  p Другая вариация этого мифа звучит, как <b>«Заключенные отстроили экономику СССР»</b>.

  p По подсчётам доктора исторических наук, научного руководителя Центра экономической истории исторического факультета МГУ Леонида Бородкина, общий вклад ГУЛАГа в экономику не превышал 4% ВВП.

  p В сравнении с гражданским сектором, труд заключённых был неэффективным, а продуктивность — ничтожной. В частности, руководитель ГУЛАГа Наседкин 13 мая 1941 года писал, что «выработка на одного рабочего в ГУЛАГе на строительно-монтажных работах 23 рубля в день, а в гражданском секторе на строительно-монтажных работах 44 рубля». Труд заключённых приносил ничтожный и зачастую очень ненужный ресурс.

  p Историк Н. Верт пишет:

  blockuote
    i Анализ внутренней документации ГУЛАГа однозначно указывает на то, что в периоды 1937/38, 1940/41, и 1947/48 гг., когда увеличивались масштабы политических преследований и возрастало количество заключенных, это ни в коей мере не вело к росту производительности, а как раз наоборот, каждый раз заканчивалось огромной дезорганизацией ... Инспекции, проведенные в 1951/52 гг. в наиболее значительных лагерных комплексах, отразили безнадежное положение, в котором оказалось управление перед лицом постоянно падающей рентабельности. Пришли к выводу, что стоимость содержания и охраны одного заключенного была выше, чем предоставляемая зарплата, которую получали вольнонаемные рабочие на том же строительном объекте. А производительность их труда была выше.
  br
  br
  a(href="https://ru.wikipedia.org/wiki/%D0%93%D0%A3%D0%9B%D0%90%D0%93#%D0%AD%D1%84%D1%84%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D1%81%D1%82%D1%8C" target="_blank") Источник

  hr
  button.more ⌄
