.article.big
  h4#no_difference
    a(href="#no_difference") Миф: Социализм не учитывает природных различий между людьми и неравенство в возможностях

  p Миф опровергается различием зарплат в СССР между академиками и разнорабочими в колхозе. Но этот миф распространялся еще при жизни Ленина и им же был опровергнут в книге «Государство и Революция». Глава V. Экономические основы отмирания государства:

  blockuote 
    i Вульгарные экономисты, в том числе буржуазные профессора, (...), постоянно упрекают социалистов, будто они забывают о неравенстве людей и “мечтают” уничтожить это неравенство. (...) Маркс не только точнейшим образом учитывает неизбежное неравенство людей, он учитывает также то, что один еще переход средств производства в общую собственность всего общества (“социализм” в обычном словоупотреблении) не устраняет недостатков распределения и неравенства “буржуазного права”, которое продолжает господствовать, поскольку продукты делятся “по работе”.
  br
  br
  p (...)

  blockuote 
    i Таким образом, в первой фазе коммунистического общества (...) “буржуазное право” отменяется не вполне, а лишь отчасти, лишь в меру уже достигнутого экономического переворота, т.е. лишь по отношению к средствам производства. “Буржуазное право” признает их частной собственностью отдельных лиц. Социализм делает их общей собственностью. Постольку – и лишь постольку – “буржуазное право” отпадает. Но оно остается все же в другой своей части, остается в качестве регулятора (определителя) распределения продуктов и распределения труда между членами общества.

  hr
  button.more ⌄
