h4#no_reforms
  a(href="#no_reforms") Миф: Большевики не реализовали на практике никаких полезных для общества идей и явились только разрушителями и угнетателями

p Распространители данного мифа забывают, что они до сих пор пользуются благами внедренными благодаря революции и политике большевиков. А именно:
ul
  li Гражданское общество взамен сословного
  li Светский брак с правом на развод взамен церковного венчания
  li Уравнение в правах женщин и мужчин
  li Уравнение в правах предстваителей всех национальностей
  li Восьмичасовой рабочий день
  li Запрет детского труда
  li Право на декретный отпуск
  li Право на аборты
  li Метрическая система взамен старославянской
  li Григорианский календарь
  li Упрощенный алфавит
  li Отделение церкви от государства
  li Введение обязательной вакцинации новорожденных
  li Бесплатная медицина
  li Бесплатное образование
  li Массовая электрификация
  li Централизованное отопление
  li Метрополитен и система пригородных электричек
  li Правила дорожного движения
  li Система ГОСТ
  li Единая пенсионная система
  li Тяжелая промышленность: Норникель, НЛМК, Уралмаш, Алроса, Газпром, Роснефть и т.д.

p Миф может дополняться тезисом, что все эти нововведения могли быть внедрены и без большевиков, но это лишь доказывает заангажированность распространителей данного мифа, сетующих на то, что эти изменения произошли именно благодаря большевикам, а не благодаря другим гипотетическим силам.
