.article.big
  h4#not_effective
    a(href="#not_effective") Миф: Плановая экономика неэффективна, потому что не учитывает конечные потребности потребителя и не успевает за их изменениями

  p Миф основан на практике экономики позднего СССР, когда возник дефицит товаров широкого потребления, ухудшилось их качество и уменьшился ассортимент. Однако, научные исследования опровергают этот миф и выводят проблему неэффективности плановой экономики в область низкой компетенции лиц, ответственных за принятие решений в организации такой экономики.
  p Одним из главных экономистов исследовавших теорию планирования, был лауреат премии по экономике Альфреда Нобеля, создатель теории межотраслевого анализа В.В.Леонтьев. Леонтьев вывел основные подходы к формированию связей между выпуском продукции в одной отрасли и затратами, расходованием продукции всех участвующих отраслей, необходимым для обеспечения этого выпуска.
  p На основе модели межотраслевого баланса Леонтьева и собственного опыта основатель «Научной школы стратегического планирования» Н.И. Ведута разработал свою динамическую модель межотраслевого баланса (МОБ). В его схеме системно согласованы балансы доходов и расходов производителей и конечных потребителей — государства, домашних хозяйств, экспортёров и импортёров. Система алгоритмов эффективно увязывает задания конечных потребителей с возможностями (материальными, трудовыми и финансовыми) производителей всех форм собственности. На основе модели определяется эффективное распределение государственных производственных инвестиций. Внедрив динамическую модель МОБ, руководство страны получает возможность корректировать в режиме реального времени цели развития в зависимости от уточненных производственных возможностей резидентов и динамики спроса конечных потребителей.
    |  (
    a(href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B6%D0%BE%D1%82%D1%80%D0%B0%D1%81%D0%BB%D0%B5%D0%B2%D0%BE%D0%B9_%D0%B1%D0%B0%D0%BB%D0%B0%D0%BD%D1%81" target="_blank") источник
    | )
  p Динамическая модель МОБ изложена в книге «Социально эффективная экономика», опубликованной в 1998 году.
  p Так же, лауреат премии по экономике Альфреда Нобеля, академик Л.В. Канторович в 1939 году опубликовал работу «Математические методы организации и планирования производства», в которой описал задачи экономики, поддающиеся открытому им математическому методу и тем самым заложил основы линейного программирования. Развил идею оптимальности в экономике. Установил взаимозависимость оптимальных цен и оптимальных производственных и управленческих решений. Каждое оптимальное решение взаимосвязано с оптимальной системой цен
    |  (
    a(href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%BD%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87,_%D0%9B%D0%B5%D0%BE%D0%BD%D0%B8%D0%B4_%D0%92%D0%B8%D1%82%D0%B0%D0%BB%D1%8C%D0%B5%D0%B2%D0%B8%D1%87" target="_blank") источник
    | ). Однако, идеи Канторовича об изменении цен на товары были отвергнуты в угоду политической конъюнктуры.
  p Использование математических методов в организации планирования производства упрощается при внедрении ЭВМ и автоматизированных систем управления, на что уакзывали такие ученые, как В.М. Глушков или А.И. Китов. Глушков реализовал экспериментальную автоматизированную систему управления экономикой СССР, опыт которой не был распространен дальше экспериментов.
    |  (
    a(href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%89%D0%B5%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_%D0%B0%D0%B2%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%B8%D0%B7%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%83%D1%87%D1%91%D1%82%D0%B0_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B8_%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%86%D0%B8%D0%B8" target="_blank") источник
    | )

  p С развитием компьютерной техники, в середине 70-х годов Гослпан СССР реализовал проект Автоматизированной системы плановых расчётов (АСПР), основным назначением которой было создание с помощью ЭВМ и экономико-математических методов долгосрочных, среднесрочных (пятилетних) и краткосрочных (годовых) планов функционирования и развития народного хозяйства СССР.
    |  (
    a(href="https://computer-museum.ru/articles/materialy-mezhdunarodnoy-konferentsii-sorucom-2017/1733/" target="_blank") источник
    | )

  p Однако, в следствии объективных ограничений вычислительных мощностей компьютеров 70-80-х годов, а так же зачаточного уровня развития каналов передачи информации, внедрение АСПР не смогло оказать существенного влияния на общее состояние экономики позднего СССР.

  p Таким образом, научные исследования в области экономического планирования с применением межотраслевого анализа, линейной алгебры и автоматизации производства, доказывают возможность эффективного планирования с учетом потребностей конечных потребителей. При этом, факторы ухудшающие качество планирования поддаются контролю и исправлению.

  hr
  button.more ⌄
