h4#red_monarchy
  a(href="#red_monarchy") Миф: Вся власть в СССР была сосредоточена в руках одной "касты", так называемых "партаппаратчиков". Все остальное население не имело никаких перспектив социального роста и было в рабстве у элиты.

p Миф опровергается тем фактом, что СССР был единственной страной в мире, где на протяжении всей её истории подавляющее большинство членов высшего органа управления: Политбюро ЦК КПСС, а также все высшие руководители государства, кроме Ленина, были из бедных семей и имели рабоче-крестьянское происхождение. По данным Т. И. Новосельцева, социальная система СССР обеспечивала социальное продвижение выходцам из низших социальных групп. Она обладала большими возможностями (социальный лифт, равенство возможностей) для продвижения граждан по социальной лестнице: от её низших слоёв — в элиту страны. Так, по данным 1983 года, 88,3% респондентов в возрасте 60 лет и старше имели социально-профессиональный статус выше, чем их родители; в группе 50−59 лет — 82,1%; среди 40−49 летних — 75,4%; среди 30−39 летних — 67%. Дифференциация доходов между различными социальными группами в СССР была значительно ниже, чем в постсоветский период, а также в несколько раз ниже, чем в развитых западных странах: если в 1989 г. в СССР оплата труда высших и низших социальных групп различалась в 4 раза, то в современной России этот показатель равен 13, в Норвегии и Швеции — около 6, в США — 15
  |  (
  a(href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%8E%D0%B7_%D0%A1%D0%BE%D0%B2%D0%B5%D1%82%D1%81%D0%BA%D0%B8%D1%85_%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D1%81%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D1%85_%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA#%D0%A1%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D0%B0" target="_blank") источник
  | )

p Так же, отсутствуют факты того, чтобы родственники или дети партийной элиты обогащались или получали должности по наследству. Вся собственность (дачи, автомобили), которая была в пользовании деятелей Политбюро ЦК КПСС во время службы, не пренадлежала им и оставалась в собственности государства.

p Симптоматично, что данный миф пропагандируется одновременно с мифом о #[a(href="https://firstcountryin.space/myths.html#no_difference") "всеобщей уравниловке"], которые прямо противоречат друг другу.
