h4#red_monarchy
  a(href="#red_monarchy") Миф: Большевики стремились уничтожить церковь и верующих посредством террора.

p Открываем текст работы «Социализм и религия», написанной Лениным в 1905 году:

blockuote 
  i Всякий должен быть совершенно свободен исповедовать какую угодно религию или не признавать никакой религии, т. е. быть атеистом, каковым и бывает обыкновенно всякий социалист. Никакие различия между гражданами в их правах в зависимости от религиозных верований совершенно не допустимы.
br
br
p или черновой набросок проекта программы РКП(б) (23 февраля 1919 г.).— ПСС, 5-е изд., т. 38, с. 95.:

blockuote 
  i Пролетарская диктатура должна неуклонно осуществлять фактическое освобождение трудящихся масс от религиозных предрассудков, добиваясь этого посредством пропаганды и повышения сознания масс, вместе с тем заботливо избегая всякого оскорбления чувств верующей части населения и закрепления религиозного фанатизма.
br
br
a(href="https://ru.wikiquote.org/wiki/%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%98%D0%BB%D1%8C%D0%B8%D1%87_%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD#.D0.A6.D0.B8.D1.82.D0.B0.D1.82.D1.8B" target="_blank") Источник

br
br
p Несмотря на то, что факты преследования духовенства и религиозных проповедников действительно существовали, полной ликвидации организованной религиозной жизни и официального запрета религии в СССР никогда не было
  |  (
  a(href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%BB%D0%B8%D0%B3%D0%B8%D1%8F_%D0%B2_%D0%A1%D0%A1%D0%A1%D0%A0" target="_blank") источник
  | ).

